*{
    padding: 0;
    margin: 0;
}
.logo-img{
    width: 10%;
    border-radius: 90%;
    
    
}
.card{
    width: 60vw;
    background-color:white;
    color: black;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem; 
    margin: 2rem;
    transition: 0.9s;
    
}


.card:hover{
    box-shadow:  1rem 1rem 1rem blue  ;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    transition: transform .2s;

}
.col-lg-4:hover{
    box-shadow: 1rem 1rem 1rem black;
    
}

 .card img{
    width: 10rem;
    padding: 1rem;

 }
 .card img:hover{
    transform: scale(1.5);
    
 }
 

@media screen and(max-width:768px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
} 
    
.col-md-4{

}
.card2{
    width: 60vw;
    background-color:white;
    color: black;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem; 
    margin: 2rem;
    transition: 0.9s;
    
}


.card2:hover{
    box-shadow:  1rem 1rem 1rem black  ;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
    transition: transform .2s;

}
.col-lg-4:hover{
    box-shadow: 1rem 1rem 1rem black;
    
}

 .card2 img{
    width: 10rem;
    padding: 1rem;

 }
 .card2 img:hover{
    transform: scale(1.5);
    
 }
 

@media screen and(max-width:768px){
    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
} 

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }